{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}


{% block main-content %}
    <div class="container mt-3">
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quidem ex? Accusantium dolores harum pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div><br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum at ratione repellat quae fugit, quis ad nemo expedita deserunt amet? Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
{% endblock main-content %}