{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us{% endblock title %}


{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address: 21 jb Street</p>
        <p class="fs-4 text-center">Contact: tripple T venture junction</p>
        <p class="fs-4 text-center">Email: jbstreet@gmail.com</p>
        <p class="fs-4 text-center">Phone: 1234567890</p>
    </div>
</div>
{% endblock main-content %}